*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background-color: rgb(199, 191, 191);
}

.Navbar .Container{
    height: 450px;
    width: 550px;
    margin-left: 425px;
    margin-top: 100px;
    border-radius: 10px;
    border-style: ridge;
    border-top-color:rgb(225, 250, 201); 

}

.Firstbox{
    border-style: inherit;
    height: 180px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 3px;
    background-color: white;
    border-top-color:rgb(223, 245, 238);
}
h2{
    color: rgb(55, 207, 157);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{
    color: gray;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h5{
    font-size: 24px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 90px;
    color: white;
}
h6{
    font-size: 14px;
    color: rgb(118, 201, 35);
}
p{
    font-size: 15px;
    color: white;
}
.Boxes{
    display: flex;
    height: 265px;
    width: 543px;
    border-radius: 0px;
}
.Box1{
    width: 1300px;
    background-color: rgb(19, 165, 116);
    padding-left: 30px;
    padding-top: 30px;
}
.Box2{
    background-color: rgb(25, 175, 125);
    padding-top: 30px;
    padding-left: 30px;
}
button{
    background-color:rgb(118, 201, 35); 
    width: 200px;
    height: 40px;
    margin-left:0px;
    margin-top: 25px;
    border-radius: 10px;
    color: white;
    font-weight: bold;

}
button:hover{
    background-color: gray;
}